*{
  box-sizing: border-box;
}

.navbar-container {
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;

  .navbar-li {
    float: right;
    font-family: 'Raleway', sans-serif;
  }

  .navbar-li .navbar-a {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-weight: 200;
    color: #fcfaf9;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
  }
  .navbar-li .navbar-a:hover {
    background-color: #111;
    color: #fefefe;
  }
}

.section{
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.title-div{
  width: 50%;
  margin: 0 auto;
  text-align: right;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -6.25rem 0 0 -9.375rem;

  h1.name{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 200;
    color: #fcfaf9;
    position: relative;
    -webkit-animation-name: title-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: title-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes title-animation {
    from {left: 12.5rem; color: rgba(0, 0, 0, 0);}
    to {left: 0; color: rgba(251, 250, 249, 1)}
}

  h1.job{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #fcfaf9;
    margin-bottom: 0.3125rem;
    position: relative;
    -webkit-animation-name: job-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: job-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @keyframes job-animation {
    from {left: -12.5rem; color: rgba(0, 0, 0, 0);}
    to {left: 0; color: rgba(251, 250, 249, 1)}
  }

  .learn-more{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #363636;
    color: rgba(251, 250, 249, 1);
    border: none;
    position: relative;
    -webkit-animation-name: learn-more-animation;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: learn-more-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .learn-more:hover {
    background-color: #111;
    color: #fefefe;
  }

  @keyframes learn-more-animation {
    from {top: 12.5rem; opacity: 0;}
    to {top: 0; opacity: 1;}
  }

}


#home{
  background-image: url('../assets/images/title.jpg');
  background-size: cover;
  margin-top: 3.25rem;
}

#about-me{
  height: auto;
  // background-color: #363636;
  background-color: #fcfaf9;
  .section-title{
    font-family: 'Raleway', sans-serif;
    // color: white;
    font-size: 50px;
    font-weight: 200;
    // border-bottom: 1px white solid;
    border-bottom: 0.0625rem black solid;
    padding-bottom: 0.1875rem;
    color: black;
    text-align: center;
  }
  .image-of-me{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 1.25rem auto;
    background-image: url('../assets/images/Amir-2.jpg');
    border: 0.0625rem black solid;
  }
  .about-me-text{
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 300;
  }
}

#skills{
  background-image: url('../assets/images/title3.jpg');
  background-size: cover;
  height: auto;
  .section-title{
    font-family: 'Raleway', sans-serif;
    color: rgba(251, 250, 249, 1);
    font-size: 50px;
    font-weight: 200;
    border-bottom: 0.0625rem #fcfaf9 solid;
    padding-bottom: 3rem;
    text-align: center;
  }
  .skills-wrap{
    margin-top: 1.25rem;
    margin-bottom: 	2.625rem;
  }
  .skills-sub-group{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    color: white;
  }
  .skills-icon-div{
    width: 50%;
    margin: auto;
    .skills-icon{
      font-size: 60px;
      color: white;
      align-items: center;
      margin: auto;
    }
  }
}

#education{
  height: auto;
  background-color: #fcfaf9;
  .section-title{
    font-family: 'Raleway', sans-serif;
    // color: white;
    font-size: 50px;
    font-weight: 200;
    // border-bottom: 1px white solid;
    border-bottom: 0.0625rem black solid;
    padding-bottom: 3rem;
    color: black;
    text-align: center;
  }
}

#portfolio{
  height: auto;
  background-color: #fcfaf9;
  .section-title{
    font-family: 'Raleway', sans-serif;
    // color: white;
    font-size: 50px;
    font-weight: 200;
    // border-bottom: 1px white solid;
    border-bottom: 0.0625rem black solid;
    padding-bottom: 3rem;
    color: black;
    text-align: center;
  }
}

#contact {
  // z-index: 2;
  // list-style-type: none;
  // margin: 0;
  // padding: 0;
  // overflow: hidden;
  // background-color: #333;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  height: auto;
  background-color: #363636;
  padding: 0;
  .contact-info{
    color: white;
    font-size: 50px;
  }
}
